/* Style sheet for main web page. */

BODY	{background-image:url(image/numberssubtle3.gif);}
P, H1, H2, H3, H4, H5, H6, TD  {color: #9E734F;}
 P, TD {        font-family: Tahoma,Verdana,Helvetica,Arial,sans-serif }
H1, H2, H3, H4, H5, H6  {         font-family: 'Comic Sans MS',Agate,Georgia,serif }

H1, H2, H3, H4, H5, H6  {         font-family: 'Comic Sans MS',Agate,Georgia,serif }
A.sidebar { font-family: 'Comic Sans MS',Agate,Georgia,serif; font-size: 150% ; text-decoration: none}
P.sidebar { font-family: 'Comic Sans MS',Agate,Georgia,serif; font-size: 150% ; text-decoration: none}
/*P, H1, H2, H3, H4, H5, H6*/
A:visited	{color: #4F739E }
/*A:visited	{color: #9E9E9E }*/
A:link	{color: #3E628D }
A:hover {color: #dd0033 }
 .l {cursor:hand; display=block}
 .s {cursor:hand; padding-left:10; display=none}
 .ss {cursor:hand; padding-left:10; display=none}
 .sss {cursor:hand; padding-left:10; display=none}


